{% extends "base.html" %}

{% block title %} Error {% endblock %}

{% block all_content %}
    <div class="page-stretch">
    <div class="well container" style="background-color: white; width: 450px; ">
        <legend ><h2> Error</h2></legend>
        <p> 
            Oops! That page doesn't exist or an error has occurred. Please contact an administrator for further help.
            <br><br>
            <a href="/">Click here to go home.</a>
        </p>
    </div>
    </div>

{% endblock %}

