{% extends "base.html" %}

{% block content %}


    <div class="span9">
            <legend class="header"><h1> About </h1></legend>
            <p>
                We do things like clean and stuff ohh yea,We do things like clean and stuff ohh yea,
                We do things like clean and stuff ohh yea,We do things like clean and stuff ohh yea,
                We do things like clean and stuff ohh yea,We do things like clean and stuff ohh yea,
                We do things like clean and stuff ohh yea,We do things like clean and stuff ohh yea,
                We do things like clean and stuff ohh yea,We do things like clean and stuff ohh yea,


            </p>
    </div>

{% endblock %}

{% block post_js %}
<script type="text/javascript">
  $(document).ready( function() {
    $("#about-nav").addClass("active")
  })
</script>
{% endblock %}