{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}


    <div class="span12">
            <legend class="header"><h2> About </h2></legend>
            <p>
               The ASUC Green Certification Program was first 
               conceptualized in the Fall of 2009 by Vanessa 
               Fernandez and Elliot Goldstein. Via networking 
               and advisement by the Office of Sustainability 
               during the fall the program was able to conduct a 
               pilot program during the spring of 2011 with six 
               different student groups on campus. Vanessa and Elliot
               concurrently worked on a grant and submitted the pilot
               program's findings to TGIF that spring, receiving $31,500
               in funding for a two year beta program. </p>
    <hr>
	<h2 class="about-head">How It Works</h2>
	<p>
    The ASUC GCP has two components, auditing and certification. 
    Each component of the program follows our Checklist in order to ensure 
    that groups are striving to reduce their overall waste in seven different 
    categories: Waste Management, Advertising & Paper Reduction, Publications, 
    Transportation, Food & Dining, Events, Miscellaneous. A copy of the Checklist 
    can be found in the resources section of our page. After completely a general 
    requirement of at least 20 points, a group will likely be certified. 
	<br>
	Upon certification groups receive 10% additional funding the following year among other benefits. 
	</p>
    <hr>
    
	<h2 class="about-head">Auditing</h2>
<p>    
Initially, an email announcing application dates and an attached application form are sent out 
to student groups via the ASUC listserv. Applications received are reviewed and the selected groups 
are emailed an invitation into the program.
<ul>
    <li>    
    Phase One
    <ul>
        <li>
        Selected groups attend the initial meeting with an assigned Green Certification Auditor. 
        The lecture includes explanations on the program structure, funding model and an initial assessment (goals, etc.).
        </li><li>
        Groups attend weekly meetings for the first month to ensure proper acclamation to the program's structure. 
        Each group then sets up monthly meetings with their GreenCATs.
        </li>
    </ul>
    </li>
    <li>Phase Two
    <ul>
        <li>
        A midterm assessment of each group's progress is turned in during February. 
        At this point, each auditor will give a brief presentation on his/her group and discuss any 
        successes or hardships experienced by the groups.
        </li><li>
        Auditors then develop a new game plan to help each group become a Certified Green Group by April.
        </li>
    </ul>
    </li>
    <li>
    Phase Three
    <ul>
        <li>
        In the final auditing meeting, GreenCATs give their final presentation on the newly certified 
        or denied groups. We then discuss reasons for their certification and reasons that some groups 
        were not certified. An email is then sent to certified groups, announcing their certification.
        </li>
    </ul>
    </li>
</ul>
</p>

    <hr>
    <h2 class="about-head">Certification </h2>
        <p>Once groups are certified our GreenCATs will be assigned to them annually and maintain contact monthly 
        to ensure groups continue to strive towards sustainable causes. Our role here is really to ensure that any questions 
        groups have are answered and any sustainable endeavors are supported to the best of our ability. Groups are recertified 
        annually and a final report is released regarding their process. 
    </p>
    </div>

{% endblock %}

{% block post_js %}
<script type="text/javascript">
  $(document).ready( function() {
    $("#about-nav").addClass("active")
  })
</script>
{% endblock %}