{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}


    <div class="span12">
            <legend class="header"><h2> Contact Us</h2></legend>
            <p>
                If you'd like to reach us,<br>
                Email: <a href="mailto:asucgreencat@gmail.com">asucgreencat@gmail.com</a><br>
                Like us on <a href = "https://www.facebook.com/ASUCgreencert">Facebook!</a>
                <div class="fb-like span2" data-href="https://www.facebook.com/BuyNearMe" 
                data-send="true" data-layout="button_count" data-width="450" 
                data-show-faces="false" data-font="verdana">
            </p>
    </div>

{% endblock %}

{% block post_js %}
<script type="text/javascript">
  $(document).ready( function() {
    $("#contact-nav").addClass("active")
  })
</script>
{% endblock %}