{% extends "base.html" %}

{% block title %}Green Groups{% endblock %}

{% block content %}


    <div class="span12">
            <legend class="header"><h2> Green Groups </h2></legend>
            
            <p> Here are our green groups! Click on them to see their description.</p>
            
            <div class="accordion" id="accordion2">
                {% for user in verified_users %}
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse-{{user.id}}">
                      {{ user.get_profile.group_name }}
                    </a>
                  </div>
                  <div id="collapse-{{ user.id}}" class="accordion-body collapse">
                    <div class="accordion-inner">
                       <p style="white-space: pre-wrap">{{ user.get_profile.group_description }}</p>
                    </div>
                  </div>
                </div>
                {% endfor %}
                
            </div>
    </div>

{% endblock %}

{% block post_js %}
<script type="text/javascript">
  $(document).ready( function() {
    $("#green_groups-nav").addClass("active")
  })
</script>
{% endblock %}