{% extends "base.html" %}

{% block content %}

    <div >
    <img class="center" src="static/powersave.jpg" style="padding-left: 0px; width:980px; height: 200px;" >
    </div>
    <br>

        <div class="span12">
            <h1> Hi There </h1>
            <p>
                We do things like clean and stuff ohh yea,We do things like clean and stuff ohh yea,
                We do things like clean and stuff ohh yea,We do things like clean and stuff ohh yea,
                We do things like clean and stuff ohh yea,We do things like clean and stuff ohh yea,
                We do things like clean and stuff ohh yea,We do things like clean and stuff ohh yea,
                We do things like clean and stuff ohh yea,We do things like clean and stuff ohh yea,


            </p>
        </div>


{% endblock %}

{% block post_js %}
<script type="text/javascript">
  $(document).ready( function() {
    $("#home-nav").addClass("active")
  })
</script>
{% endblock %}