{% extends "base.html" %}
{% block css %}
body {
    background-color: white;
    background-image: none;
}
.container {
    width: auto;
}
{% endblock %}
{% block body %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block all_content %}
<div id="index-banner">
    <div id="index-internal">
        <div class="span4">
            <img src="/static/images/ASUC-Green-Cert-Logos-1.png" alt="">
        </div>
        <div class="span8">
            <h1>ASUC Green Cat Program <br>
                <h2>Sustainability for the future</h2>
            </h1>
        </div>
    </div>
</div>
{% block content %}
    <!--
    <div >
    <img class="center" src="static/powersave.jpg" style="padding-left: 0px; width:980px; height: 175px;" >
    </div>
    -->
    <div class="container page-content">
        <div class="span12">
            <div class="span4">
            <h2> Hi There </h2>
            <p>
                Welcome to our site! We are clean! I also like to shop for clothes!
            </p>
            <div class="fb-activity" data-href="https://www.facebook.com/ASUCgreencert" 
            data-width="300" data-height="300" data-header="true" data-font="verdana" 
            data-recommendations="true">
            </div>
            </div>
            <br>
            <div class="span7">
            <center>
            <div id="myCarousel"class="carousel slide set-image-dimension">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item">
                        <img class="set-image-dimension" src="/static/cat.jpg" alt="">
                        <div class="carousel-caption">
                          <h4>First Thumbnail label</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                    <div class="item ">
                        <img class="set-image-dimension" src="/static/bootstrap-mdo-sfmoma-02.jpg" alt="">
                        <div class="carousel-caption">
                          <h4>Second Thumbnail label</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img class="set-image-dimension" src="/static/bootstrap-mdo-sfmoma-03.jpg" alt="">
                        <div class="carousel-caption">
                          <h4>Third Thumbnail label</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <!-- Carousel nav 
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>-->
            </div>
            </div>
            
            <div class="container">
                <div class="span5">
                    <h1>Things</h1>
                </div>
                <div class="span5">
                    <h1>Stuff</h1>
                </div>
                <div class="span1">
                    <h1>Art</h1>
                </div>
            </div>
            
        </div>
    </div>


{% endblock %}
{% endblock %}

{% block post_js %}
<script type="text/javascript">
  $(document).ready( function() {
    $("#home-nav").addClass("active")
    $('.carousel').carousel({
        pause: "hover"
    })
  })
</script>
{% endblock %}