{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block all_content %}
<div class="page-stretch">

<center>
<div class="container well" style="background-color: white; width:400px;">


        <h2 style="text-align:center"> Sign In</h2>
        <br>
        <form action="."  method="post" class="form-horizontal" id="login-form">{% csrf_token %}
        <div id="fields form">
    {% for field in form %}
      <div class="control-group">
        <label for="name" class="control-label small-label"  id="{{field.html_name}}">{{ field.label }}</label>
        <div class="controls small-controls">
        {{ field }}
          <span class="help-block">{{ field.help_text }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if fail %}
  <p style="text-align:center; color:red;"> Your username or password is incorrect. Please try again. </p>
  {% endif %}
  
  <input type="submit" class="btn btn-primary btn-large" style="width:250px" value="Login" />
  
</div>

</div>

</center>

{% endblock %}

