{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block content %}
{% load static %}

    <div class="span12">
            <legend class="header"><h2> Reports </h2></legend>
            <p>
                <a href="{% get_static_prefix %}reports/BMUNGreenCATFinal.pdf"> Things </a>
            </p>
    </div>

{% endblock %}

{% block post_js %}
<script type="text/javascript">
  $(document).ready( function() {
    $("#reports-nav").addClass("active")
  })
</script>
{% endblock %}