{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block content %}
{% load static %}

    <div class="span12">
            <legend class="header"><h2> Reports </h2></legend>
            <p>
                These are reports from participating student organizations put out twice annually. They represent data collected from groups. <br><br>

                <a href="{% get_static_prefix %}reports/ASUC Green Certification Report 2012.pdf">ASUC Green Certification Report 2012</a>

                <ul>
                    <li><a href="{% get_static_prefix %}reports/Alt. Breaks Certification Document.pdf"> Alt. Breaks Certification Document.pdf </a></li>
                    <li><a href="{% get_static_prefix %}reports/BareAbundance documentation.pdf">BareAbundance documentation.pdf</a></li>
                    <li><a href="{% get_static_prefix %}reports/BMUNGreenCATFinal.pdf"> BMUNGreenCATFinal.pdf </a></li>
                    <li><a href="{% get_static_prefix %}reports/BMUNGreenCATUpdate.pdf">BMUNGreenCATUpdate.pdf</a></li>
                    <li><a href="{% get_static_prefix %}reports/Cal Dems GreenCAT Final Report-1.pdf">Cal Dems GreenCAT Final Report-1.pdf</a></li>
                    <li><a href="{% get_static_prefix %}reports/DM FINAL DOCUMENTATION CHECKLIST.pdf">DM FINAL DOCUMENTATION CHECKLIST.pdf</a></li>
                    <li><a href="{% get_static_prefix %}reports/Final Berkeley Ballroom Checklist.pdf">Final Berkeley Ballroom Checklist.pdf</a></li>
                    <li><a href="{% get_static_prefix %}reports/SOGA FINAL Report.pdf"> SOGA FINAL Report.pdf </a></li>
                </ul>
                Grant Information:<br>
                <ul>
                    <li><a href="{% get_static_prefix %}documents/ASUC Title 30.pdf"> ASUC Title 30.pdf </a></li>
                    <li><a href="{% get_static_prefix %}documents/Project Update 2011-2012.xls"> Project Update 2011-2012.xls </a></li>
                    <li><a href="{% get_static_prefix %}documents/TGIF Grant.pdf"> TGIF Grant.pdf </a></li>
                    <li><a href="{% get_static_prefix %}documents/TGIF_Poster_2012.pdf"> TGIF_Poster_2012.pdf </a></li>
                </ul>
            </p>
    </div>

{% endblock %}

{% block post_js %}
<script type="text/javascript">
  $(document).ready( function() {
    $("#reports-nav").addClass("active")
  })
</script>
{% endblock %}