{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block content %}
{% load static %}

    <div class="span12">
            <legend class="header"><h2> Reports </h2></legend>
            <p>
                Here are some of our reports <br>
                <ul>
                    <li><a href="{% get_static_prefix %}reports/Alt. Breaks Certification Document.pdf"> Alt. Breaks Certification Document.pdf </a></li>
                    <li><a href="{% get_static_prefix %}reports/BareAbundance documentation.pdf">BareAbundance documentation.pdf</a></li>
                    <li><a href="{% get_static_prefix %}reports/BMUNGreenCATFinal.pdf"> BMUNGreenCATFinal.pdf </a></li>
                    <li><a href="{% get_static_prefix %}reports/BMUNGreenCATUpdate.pdf">BMUNGreenCATUpdate.pdf</a></li>
                    <li><a href="{% get_static_prefix %}reports/Cal Dems GreenCAT Final Report-1.pdf">Cal Dems GreenCAT Final Report-1.pdf</a></li>
                    <li><a href="{% get_static_prefix %}reports/DM FINAL DOCUMENTATION CHECKLIST.pdf">DM FINAL DOCUMENTATION CHECKLIST.pdf</a></li>
                    <li><a href="{% get_static_prefix %}reports/Final Berkeley Ballroom Checklist.pdf">Final Berkeley Ballroom Checklist.pdf</a></li>
                    <li><a href="{% get_static_prefix %}reports/SOGA FINAL Report.pdf"> SOGA FINAL Report.pdf </a></li>
                </ul>
            </p>
    </div>

{% endblock %}

{% block post_js %}
<script type="text/javascript">
  $(document).ready( function() {
    $("#reports-nav").addClass("active")
  })
</script>
{% endblock %}