{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block top_head %}
<style type='text/css'>
label.error {
 float: none;
 color: red;
 padding-left: 30px;
 vertical-align: top;
 }
 </style>
{% endblock %}

{% block content %}

<div class="span12">
<legend class="header">
    <h2> Create an account</h2>
  </legend>
<form action="."  method="post" class="form-horizontal" id="sellForm">{% csrf_token %}
  

  <br />
  <div id="fields form">
    {% for field in form %}
      <div class="control-group">
        {{ field.errors }}
        <label class="control-label signup-label" id="{{field.html_name}}">{{ field.label }}</label>
        <div class="controls ">
        {{ field }}
          <span class="help-block">{{ field.help_text }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
  <br />
  <input type="submit" style="margin-left:190px" class="btn btn-primary" value="Send Application" />

  </form>
  </div>

{% endblock %}

{% block post_js %}
<script type="text/javascript" src="/static/jquery-validation-1.9.0/jquery.validate.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#id_group_description").css("width","600px");

    $("#sellForm").validate({
      rules: {
        email: {
          required: true,
          email: true,
        },
        group_name: {
          required: true,
          maxlength: 70
        },
        group_description: {
          required: true,
        },
        username: {
          required: true,
          maxlength: 30
        },
        officer_name: {
          required: true,
          maxlength: 50
        },
        academic_start_year: {
          required: true,
          number: true,
          min: 1950,
          max: 2050,
        },
        password: {
          required: true,
          minlength: 6,
          maxlength: 22,
        },
        password_again: {
          required: true,
          equalTo: "#id_password"
        },
      } 
    });
    

});
</script>
{% endblock %}