{% extends "base.html" %}



{% block all_content %}

    <div class="well container" style="background-color: white; width: 450px; ">
        {% if fail %}
        <legend ><h2> Error </h2></legend>
        <p>
            That account exists already.
        </p>
        {% else %}
        <legend ><h2> Application Sent! </h2></legend>
        <p>
            Thank you for applying. 
            You will receive an email whether or not your application was successful.
        </p>
        {% endif %}
    </div>

{% endblock %}

