{% extends "staff/staff.html" %}

{% block super_content %}


<table class="table table-bordered">
        <caption><h2>My Groups</h2></caption>
        <thead>
            <tr>
                <th> Group Name </th>
                <th> Officer Name </th>
                <th> Email </th>
                <th> Files </th>
                <th> Checklist </th>
            </tr>
        </thead>
        <tbody>
            {% for group in my_groups %}
            <tr>
                <td> {{ group.get_profile.group_name }} </td>
                <td> {{ group.get_profile.officer_name}} </td>
                <td> {{ group.email }} </td>
                <td><a href="{% url staff_group_files group_id=group.id folder_id=group.get_profile.base_folder.id %}"> files </a></td>
                <td><a href="{% url staff_checklist_redirect group.id %}"> checklist </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block super_js %}
<script type="text/javascript">
  $(document).ready( function() {
    $("#pill-my-groups").addClass("active")
  })
</script>
{% endblock %}