{% extends "base.html" %}
{% block title %} Staff {% endblock %}
{% block content %}


    <div class="span12">
        <br>
        {% comment %}
            ANY CHANGES TO THESE PILLS MUST BE ALSO MADE IN ACCOUNT_FILES.HTML and ACCOUNT_CHECKLIST.HTML
        {% endcomment %}
        <ul class="nav nav-pills" style="margin-bottom: 0px">
            <li id="pill-my-groups">
            <a href="{% url staff %}">My Groups</a>
            </li>
        </ul>
        <div class="empty-padding"> </div>
        {% block super_content %}

        {% endblock %}
    </div>

{% endblock %}

{% block post_js %}
<script type="text/javascript">
  $(document).ready( function() {
    $("#staff-nav").addClass("active")
  })
</script>
{% block super_js %}{% endblock %}
{% endblock %}