{% extends "base.html" %}

{% block content %}


    <div class="span12">
        <br>
        <ul class="nav nav-pills" style="margin-bottom: 0px">
            <li id="pill-home">
            <a href="{% url superuser %}">General</a>
            </li>
            <li id="pill-verify"><a href="{% url superuser_verify %}">Verify Accounts</a></li>
            <li id="pill-academic-year"><a href="{% url superuser_academic_year %}">Academic Year</a></li>
            <li id="pill-questions"><a href="{% url superuser_questions %}">Checklist Questions</a></li>
            <li id="pill-staff"><a href="{% url superuser_staff %}">Staff</a></li>
        </ul>
        <div class="empty-padding"> </div>
        {% block super_content %}
                <legend class="header"><h1> Superuser Home </h1></legend>
        <p>
            Please select from the top to where you would like to administrate.
        </p>
        {% endblock %}
    </div>

{% endblock %}

{% block post_js %}
<script type="text/javascript">
  $(document).ready( function() {
    $("#superuser-nav").addClass("active")
  })
</script>
{% block super_js %}{% endblock %}
{% endblock %}