{% extends "superuser/superuser.html" %}

{% block title %} Admin - Checklist Questions{% endblock %}

{% block super_content %}
    {% if message %}
        <p style="color:red">{{ message }}</p>
    {% endif %}
    <a class="btn btn-success" href="./edit"> Checklist Options </a>
    <br>
    
    {% if not question_groups %}
        <h2> It seems you don't have any question groups. Click the checklist options button above and create a question group to get started! </h2>
    {% endif %}
    
    {% for question_group in question_groups %}
    <table class="table table-bordered">
        <caption><h2> {{ question_group.title }} </h2></caption>
        <thead>
        <tr>
            <th> Question</th>
            <th> Points </th>
            <th style="width:100px;"> Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for question in question_group.question_bases.all %}
            <form action="." method="post" onsubmit="return confirm('You\'re going to lose all user related question data, are you sure you want to proceed?')">{% csrf_token %}
                <input type="hidden" name="delete_question_base" value="{{ question.id }}" />

                <tr>
                    <td> {{question.question_text}}</td>
                    <td> {{question.point_value}}</td>
                    <td>
                        <input type="submit" class="btn btn-danger btn-small" value='Delete' />

                    </td>
                </tr>

            </form>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}    
    
    
{% endblock %}

{% block super_js %}
    <script type="text/javascript">
        $(document).ready( function() {
           $("#pill-questions").addClass("active");
        })
    </script>

{% endblock %}