{% extends "superuser/superuser.html" %}

{% block title %}Admin - Verify{% endblock %}

        {% block super_content %}
            
            <form action="{% url superuser_verify %}"  method="post">{% csrf_token %}
            <p> {{ message }} </p>
            <table class="table table-bordered">
                <caption><h2>Account Verification Request</h2></caption>
                <thead>
                  <tr>
                    <th style="width:70px;"> Action </th>
                    <th> Username </th>
                    <th> Group Name </th>
                    <th> Email</th>
                    <th> Officer Name</th>
                    <th> Start Year</th>
                    <th style="width: 140px;"> Group Description </th>
                  </tr>
                </thead>
                <tbody>
                {% for user in non_verified_users %}
                  <tr>
                    <td> 
                      <input style="margin-top: -3px;" type="radio" name="{{ user.id }}" value="verify"> Verify<br>
                      <input style="margin-top: -3px;" type="radio" name="{{ user.id }}" value="decline"> Decline
                    </td>
                    <td> {{user.username}}</td>
                    <td> {{user.get_profile.group_name}}</td>
                    <td> {{user.email}}</td>
                    <td> {{user.get_profile.officer_name}}</td>
                    <td> {{user.get_profile.academic_start_year}}</td>
                    <td> <a href="#modal-{{user.id}}" class="btn btn-info" data-toggle="modal">View Description</a></td>
 
                  </tr>
                  
                    <div class="modal hide fade" id="modal-{{user.id}}">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon icon-remove"></i></button>
                        <h2 id="modal-{{user.id}}-label">{{user.get_profile.group_name}} </h2>
                        </div>
                        <div class="modal-body">
                        <p style="white-space: pre-wrap">{{ user.get_profile.group_description }}</p>
                        </div>
                        <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                {% endfor %}
                </tbody>
            </table>


                <table class="table table-bordered">
                    <caption><h2>Account Deletion Request</h2></caption>
                    <thead>
                    <tr>
                        <th style="width:70px;"> Action </th>
                        <th> Username </th>
                        <th> Group Name / Staff Name</th>
                        <th> Email</th>
                        <th> Officer Name</th>
                        <th> Start Year</th>
                        <th style="width: 140px;"> Group Description </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in delete_profiles %}
                        <tr>
                            <td>
                                <input style="margin-top: -3px;" type="radio" name="{{ profile.user.id }}" value="decline"> Delete <br>
                                <input style="margin-top: -3px;" type="radio" name="{{ profile.user.id }}" value="verify"> Keep
                            </td>
                            <td> {{profile.user.username}}</td>
                            <td> 
                                {% if profile.user.is_staff %}
                                {{ profile.user.first_name }} {{ profile.user.last_name }}
                                {% else %}
                                {{profile.user.get_profile.group_name}}
                                {% endif %}
                            </td>
                            <td> {{profile.user.email}}</td>
                            <td> 
                                {% if profile.user.is_staff %}
                                THIS IS A STAFF ACCOUNT
                                {% else %}
                                {{profile.user.get_profile.officer_name}}
                                {% endif %}
                            </td>
                            <td> 
                                {% if profile.user.is_staff %}
                                N/A
                                {% else %}
                                {{profile.user.get_profile.academic_start_year}} 
                                {% endif %}
                            </td>
                            <td> <a href="#modal-{{user.id}}" class="btn btn-info" data-toggle="modal">View Description</a></td>
                        </tr>
                        
                        <div class="modal hide fade" id="modal-{{user.id}}">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon icon-remove"></i></button>
                            <h2 id="modal-{{user.id}}-label">{{user.get_profile.group_name}}</h2>
                            </div>
                            <div class="modal-body">
                            <p style="white-space: pre-wrap">{{ profile.group_description }}</p>
                            </div>
                            <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>

            <input type="submit" class="btn btn-primary loading" type="button" data-loading-text="Processing..." value="Submit" />
            </form>
        {% endblock %}


{% block super_js %}
<script type="text/javascript">
  $(document).ready( function() {
    $("#pill-verify").addClass("active")
  })
</script>

{% endblock %}