{% extends "base.html" %}

{% block content %}


    <div class="span12">
        <br>
        <ul class="nav nav-pills" style="margin-bottom: 0px">
            <li id="pill-home">
            <a href="{% url superuser %}">General</a>
            </li>
            <li id="pill-verify"><a href="{% url superuser_verify %}">Verify Accounts</a></li>
            <li id="pill-academic-year"><a href="{% url superuser_academic_year %}">Academic Year</a></li>
            <li id="pill-questions"><a href="{% url superuser_questions %}">Checklist Questions</a></li>
            <li id="pill-finance"><a href="{% url superuser_finance %}">Finance Requests</a></li>
            <li id="pill-staff"><a href="{% url superuser_staff %}">Staff</a></li>
            <li id="pill-all-accounts"><a href="{% url superuser_all_accounts %}">All Accounts</a></li>
            
        </ul>
        <div class="empty-padding"> </div>
        {% block super_content %}
        {% endblock %}
    </div>

{% endblock %}

{% block post_js %}
<script type="text/javascript">
  $(document).ready( function() {
    $("#superuser-nav").addClass("active")
  })
</script>
{% block super_js %}{% endblock %}
{% endblock %}