{% extends "superuser/superuser.html" %}

{% block title %} Admin - Finance{% endblock %}

{% block super_content %}
    {% if message %}
    <p style="color:red">{{ message }}</p>
    {% endif %}

    <table class="table table-bordered">
        <caption><h2> Finance Requests </h2></caption>
        <thead>
            <tr>
                <th> View/Action </th>
                <th> Group </th>
                <th> Officer Name </th>
                <th> Email </th>
                <th> Amount </th>
                <th> Submission Date </th>
            </tr>
        </thead>
        <tbody>
            {% for finance in finance_requests %}
            <tr>
                <td> <a href="./{{finance.id}}">View/Action </a> </td>
                <td> {{ finance.user.get_profile.group_name}} </td>
                <td> {{ finance.user.get_profile.officer_name }} </td>
                <td> {{ finance.user.email }} </td>
                <td> ${{ finance.amount }} </td>
                <td> {{ finance.timestamp }} </td>

            </tr>
            
            {% endfor %}
        </tbody>
    </table>

    <table class="table table-bordered">
        <caption><h2> Old Finance Requests </h2></caption>
        <thead>
            <tr>
                <th> View/Delete </th>
                <th> Group </th>
                <th> Officer Name </th>
                <th> Email </th>
                <th> Amount </th>
                <th> Submission Date </th>
                <th> Status </th>
            </tr>
        </thead>
        <tbody>
            {% for finance in old_requests %}                
            <tr>
                <td> <a href="./{{finance.id}}">View/Delete </a> </td>
                <td> {{ finance.user.get_profile.group_name}} </td>
                <td> {{ finance.user.get_profile.officer_name }} </td>
                <td> {{ finance.user.email }} </td>
                <td> ${{ finance.amount }} </td>
                <td> {{ finance.timestamp }} </td>
                <td> 
                    {% if finance.is_approved %}
                    <span style="color: green"> Approved </span>
                    {% else %}
                    <span style="color: red"> Declined </span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block super_js %}
    <script type="text/javascript">
        $(document).ready( function() {
            $("#pill-finance").addClass("active");
            
        })
    </script>

{% endblock %}