.form-horizontal .control-label.small-label{
    width: 100px ;
}

.form-horizontal .controls.small-controls {
  padding-left: 0px;
  margin-left: 100px;
}

.form-horizontal .control-label.signup-label{
width: 170px ;
/*text-align:left;*/
padding-right: 20px;
}
/*

.form-horizontal .controls {
  padding-left: 10px;
  margin-left: 100px;
}
.form-horizontal .control-group {
  margin-bottom: 10px;
}
*/

.navbar-inner {
    min-width: 920px;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    background: rgb(248, 248, 248);
    border-bottom-color: rgb(224, 224, 224);
    border-bottom-style: solid;
    border-bottom-width: 1px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    padding-left: 5em;
    padding-right: 5em;
}

.navbar {
    /* margin-bottom: 0em; */
}

.navbar .brand {
    color: #858585;
}


.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    color: #858585;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
}

.navbar .nav > li > a:hover {
    color: black;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #c0c0c0;
}

body
{
    background-image:url('/static/grey_bg.png');
    background-repeat:repeat;
    height: 100%;
}

.page-content {
    background-color: white;
    /*height: 100%; */
    min-height: 80%;
}

html {
    height: 100%;
}


.container , .container-fluid{
    width: 940px;
}

.center {
    margin:0 auto;
    text-align: center;
}

.header {
    padding-top:20px;
}

.footer {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-style: solid;
    border-color: gray;
    border-width: 0.5px;
}

.horiz-title{
    padding-left:20px;
    font-weight: bold;
    width: 200px;
}

.horiz-title{
    float: left;
    width: 200px;
}

.horiz-edit{
    float: left;
    width: 200px;
}


label.error {
 float: none;
 color: red;
 vertical-align: top;
}
