{% extends "account/account.html" %}
{% block title %}General{% endblock %}

    {% block account_content %}
    {% if update %}
        <p> {{ update }} successfully updated! </p><br>
    {% endif %}
    <p>Note: <i class="icon-pencil"></i> - click to edit</p>
    <br>
        <table class="table">
          <tbody>
            <tr><td><div class="horiz-title"><i class="icon-pencil" style="visibility:hidden;"></i> Username </div> <div class="horiz-content">{{user.username}}</div>  </td></tr>
            <tr><td><div class="horiz-title"><a href="{% url account_edit %}?field=email" class="icon-pencil"></a> Email </div> <div class="horiz-content">{{user.email}} </div>  </td></tr>
            {% if user.is_staff %}
            <tr><td><div class="horiz-title"><a href="{% url account_edit %}?field=first_name" class="icon-pencil"></a> First Name </div> <div class="horiz-content">{{user.first_name}} </div>  </td></tr>
            <tr><td><div class="horiz-title"><a href="{% url account_edit %}?field=last_name" class="icon-pencil"></a> Last Name </div> <div class="horiz-content">{{user.last_name}} </div>  </td></tr>
            {% else %}
            <tr><td><div class="horiz-title"><a href="{% url account_edit %}?field=group_name" class="icon-pencil"></a> Group Name </div> <div class="horiz-content">{{user.get_profile.group_name}} </div>  </td></tr>
            <tr><td><div class="horiz-title"><a href="{% url account_edit %}?field=group_description" class="icon-pencil"></a> Group Description </div> <div class="horiz-content"><textarea style="width:70%" rows="9" class="readonly" readonly="readonly">{{user.get_profile.group_description}}</textarea> </div>  </td></tr>
            <tr><td><div class="horiz-title"><a href="{% url account_edit %}?field=officer_name" class="icon-pencil"></a> Officer Name </div> <div class="horiz-content">{{user.get_profile.officer_name}} </div>  </td></tr>
            <tr><td><div class="horiz-title"><a href="{% url account_edit %}?field=academic_start_year" class="icon-pencil"></a> Academic Start Year </div> <div class="horiz-content">{{user.get_profile.academic_start_year}} </div>  </td></tr>
            {% endif %}
            <tr><td><div class="horiz-title"><a href="{% url account_edit %}?field=password" class="icon-pencil"></a> Password </div> <div class="horiz-content">********* </div>  </td></tr>
          </tbody>
        </table>

        {% if not user.is_superuser %}
        <h4> Other Options </h4>
        <a href="{% url account_delete %}"> Delete account </a>
        {% endif %}

    {% endblock %}


{% block super_js %}
<script type="text/javascript">
  $(document).ready( function() {
    $("#pill-profile").addClass("active")
  })
</script>

{% endblock %}