{% extends "account/account.html" %}

        {% block account_content %}
        {% if update %}
            <p> {{ update }} successfully updated! </p><br>
        {% endif %}
        <p>Note: <i class="icon-pencil"></i> - click to edit</p>
        <br>
            <table class="table">
              <tbody>
                <tr><td><div class="horiz-title"> Username </div> <div class="horiz-content">{{user.username}}</div>  </td></tr>
                <tr><td><div class="horiz-title"> Group Name </div> <div class="horiz-content">{{user.get_profile.group_name}} <a href="{% url account_edit %}?field=group_name" class="icon-pencil"></a></div>  </td></tr>
                <tr><td><div class="horiz-title"> Email </div> <div class="horiz-content">{{user.email}} <a href="{% url account_edit %}?field=email" class="icon-pencil"></a></div>  </td></tr>
                <tr><td><div class="horiz-title"> Officer Name </div> <div class="horiz-content">{{user.get_profile.officer_name}} <a href="{% url account_edit %}?field=officer_name" class="icon-pencil"></a></div>  </td></tr>
                <tr><td><div class="horiz-title"> Academic Start Year </div> <div class="horiz-content">{{user.get_profile.academic_start_year}} <a href="{% url account_edit %}?field=academic_start_year" class="icon-pencil"></a></div>  </td></tr>
                <tr><td><div class="horiz-title"> Password </div> <div class="horiz-content">********* <a href="{% url account_edit %}?field=password" class="icon-pencil"></a></div>  </td></tr>
              </tbody>
            </table>

        {% endblock %}


{% block super_js %}
<script type="text/javascript">
  $(document).ready( function() {
    $("#pill-profile").addClass("active")
  })
</script>

{% endblock %}