{% extends "account/account.html" %}

{% block title %} Checklist {% endblock %}


    {% block pills %}
        {% if user.is_staff %}
        <ul class="nav nav-pills" style="margin-bottom: 0px">
            <li id="pill-my-groups">
            <a href="{% url staff %}">My Groups</a>
            </li>
            <span style="padding-top:5px" class="pull-right"> 
                {{ checklist_user.get_profile.group_name }}: <a href="{% url staff_group_files group_id=checklist_user.id folder_id=checklist_user.get_profile.base_folder.id %}">Files</a> <span class="divider">|</span> Checklist
            </span>
        </ul>
        {% else %}
        <ul class="nav nav-pills" style="margin-bottom: 0px">
            <li id="pill-profile"><a href="{% url account_profile %}">General</a></li>
            <li id="pill-files"><a href="/account/files/{{ user.get_profile.base_folder.id }}/">Files</a></li>
            <li id="pill-checklist"><a href="{% url account_checklist_redirect %}">Checklist</a></li>
        </ul>
        {% endif %}
    {%endblock%}

{% block account_content %}
    <ul class="breadcrumb">
        {% for a_year in all_years %}
            <li><a href="../{{a_year.year}}"> {{ a_year.year }}</a><span class="divider">/</span></li>
        {% endfor %}
    </ul>

    {% if message %}
        <p style="color:red">{{ message }}</p>
    {% endif %}
    
    {% if user.is_staff %}
    <legend><h2> {{ checklist_user.get_profile.group_name }} - {{ year }} Checklist </h2></legend>
    {% else %}
    <legend><h2>Your {{ year }} Checklist</h2></legend>
    {% endif %}
    
    <i> Last Updated: {{ checklist.timestamp }} </i>
    
    <h5>Overall Score: {{ curr_points }}/{{max_points}}</h5>
    
    <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
    {% for question in questions %}
    <div class="accordion" id="accordion-{{ question.id }}">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{{ question.id }}" href="#collapse-{{ question.id }}">
                    {{ question.question_text }}

                    <span class="points-title">
                        - Points: {{ question.point_value }}
                        {% if question.is_approved %}
                        (<i class="icon icon-ok"></i> Approved )
                        {% endif %}
                    </span>
                </a>
            </div>
            <div id="collapse-{{ question.id }}" class="accordion-body collapse">
                <div class="accordion-inner">
                    <p>
                        <p>
                            <b>Points</b>: {{ question.point_value }} <br>
                            <b>Approved</b>:
                            {% if question.is_approved %}
                                {% if user.is_staff %}
                                <select style="width:100px" name="{{question.id}}_is_approved">
                                    <option value="yes" selected> Yes </option>
                                    <option value="no"> No </option>
                                </select>
                                {% else %}
                                Yes
                                {%endif %}
                            {% else %}
                                {% if user.is_staff %}
                                <select style="width:100px" name="{{question.id}}_is_approved">
                                    <option value="yes" > Yes </option>
                                    <option value="no" selected> No </option>
                                </select>
                                {% else %}
                                No
                                {%endif %}
                            {% endif %}
                        </p>

                        <label><b>Description/Documentation</b></label>
                        {% comment %}
                        UNCOMMENT IF YOU WNT TEXTAREA
                        <textarea name="{{ question.id }}_description" rows="5" style="min-width: 90%; max-width: 100%" {% if user.is_staff %}class="readonly" readonly{% endif %}>{{ question.description }}</textarea>
                        {%endcomment%}
                        {% if user.is_staff %}
                        <p style="white-space: pre-wrap"> {{ question.description }} </p>
                        {% else %}
                        <textarea name="{{ question.id }}_description" rows="5" style="min-width: 90%; max-width: 100%" >{{ question.description }}</textarea>
                        <br><br>
                        {% endif %}
                        
                        
                        {% comment %}{% if question.files.all|length > 0  %}{% endcomment %}
                            <label><b>Current Documents/Photos</b></label>
                            {% for file in question.files.all %}
                                <a href="{{ file.file.url }}">{{ file.name }} </a>
                                {% if checklist_user == user or user.is_superuser %}
                                <input style="margin-left:10px; margin-top:-3px;" type="checkbox" name="file_delete" value="{{ file.id }}" /> Delete
                                {% endif %}
                                <br>
                            {% endfor %}
                            <br>
                        {% comment %}{% endif %}{% endcomment %}
                        
                        {% if user == checklist_user %}
                        <label style="padding-bottom: 0px;"><b>Upload Documents/Photos</b></label>
                        <div id="upload-files-{{ question.id }}">
                            <input name="{{ question.id }}_file" type="file">
                        </div>
                        <br>
                        <a href="#" onclick="return false;" class="upload-more" value="{{ question.id }}"> <i class="icon-plus"></i> click here to upload more</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Update" />
    </form>

{% endblock %}


{% block super_js %}
<script type="text/javascript">
    $(document).ready( function() {
        {% if user.is_staff %}
        $("#staff-nav").addClass("active");
        $("#account-nav").removeClass("active");
        {% endif %}
    
        $("#pill-checklist").addClass("active");
        $(".upload-more").click(function(){
            var question_id = $(this).attr("value");
            var new_upload_html = '<br><input name="' + question_id + '_file" type="file">'
            $("#upload-files-"+question_id).append(new_upload_html)
        })
    })
</script>

{% endblock %}