{% extends "account/account.html" %}
{% block title %}General{% endblock %}

    {% block account_content %}
    {% if message %}
    <p style="color:red">{{ message }}</p>
    {% endif %}
    
    
    
        <form method="post" action="."> {% csrf_token %}
        <table class="table table-bordered">
          <caption><h2> My Finance Requests </h2></caption>
          <thead>
            <tr>
              <th> Title </th>
              <th> Value </th>
              <th> Date Sent </th>
              <th> Status </th>
              <th> Delete </th>
            </tr>
          </thead>
          <tbody>
            {% for entry in my_finance_requests %}
            <tr>
              <td> {{ entry.title }} </td>
              <td> ${{ entry.value }} </td>
              <td> {{ entry.timestamp }}</td>
              <td>
                {% if entry.is_answered %}
                    {% if entry.is_approved %}
                    <span style="color: green"> Approved </span>
                    {% else %}
                    <span style="color: red"> Declined </span>
                    {% endif %}
                {% else %}
                    <span style="font-style: italic"> Still Processing... </span>
                {% endif %}
              </td>
              <td>
                <input style="margin-top:0px;" type="checkbox" name="Delete" value="{{ entry.id }}"> Delete
              </td>
            </tr>
                
            {% endfor %}
          </tbody>
        </table>
        <input class="btn btn-danger" type="submit" value="Delete" /> 
        </form>
        <br>
        <a href="{% url account_finance_request_create %}" class="btn btn-success"> New Finance Request </a>

        

    {% endblock %}


{% block super_js %}
<script type="text/javascript">
  $(document).ready( function() {
    $("#pill-finance-request").addClass("active");
  })
</script>

{% endblock %}